body {
    background-image: url('../public/shapelined-_JBKdviweXI-unsplash.jpg');
    background-size: cover; /* Adjusts the background image size to cover the entire viewport */
    background-position: center; /* Centers the background image */
  }
  